.header, .header ul,
.logo, .header button{
    display: flex;
    align-items: center;
}

.header{
    width: 100%;
    padding: 20px 40px;
    justify-content: space-between;
}

.header ul{
    gap:1.5em;
}
.header ul li{
    cursor: pointer;
}

.header button{
    gap:0.5em;
    background-color: #A259FF;
    padding: 15px 20px;
    border-radius: 20px;
    cursor: pointer;
}
.header button:hover{
    background-color: #6b00ff;
}